POSTGRES_USER="user"
POSTGRES_PASSWORD="password"
POSTGRES_DB="authdb"
DB_PORT=5432

DATABASE_URL="postgresql://user:password@localhost:5432/authdb"

JWT_ACCESS_SECRET=""
JWT_REFRESH_SECRET=""
ACCESS_TOKEN_TTL=900          # 15 minutes
REFRESH_TOKEN_TTL=604800      # 7 days

# Cookies
REFRESH_COOKIE_NAME="rt"
COOKIE_SECURE=false  # true en prod detrás de HTTPS
COOKIE_SAMESITE="lax" # 'lax' es una buena opción para la mayoría de las aplicaciones
COOKIE_DOMAIN="localhost"

# Hash
PASSWORD_ALGO="bcrypt"
TOKEN_HASH_PEPPER="pepper_32+chars" # Esto es para hashear tokens antes de guardarlos


#URL
APP_FRONTEND_URL="http://localhost:5173"

# MAIL
MAIL_HOST=""
MAIL_PORT=587
MAIL_USER=""
MAIL_PASS=""
MAIL_FROM=""

# APP
APP_NAME="Autthy"
APP_PORT=3000

THROTTLE_TTL=60000       # 1 minute
THROTTLE_LIMIT=20        # number of allowed attempts per ttl period
ENVIRONMENT="development"  # change to "production" in production environment


# GOOGLE
GOOGLE_CLIENT_ID="m"
GOOGLE_CLIENT_SECRET=""
GOOGLE_CALLBACK_URL="http://localhost:3000/auth/google/callback"
APP_FRONTEND_URL="http://localhost:5173"
